<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yahoo Scrapping App</title>
</head>
<body>
    <h1>Yahoo Scrapping App</h1>
    <br>
    <p>If you want to search throw all articles go to <a href="/news/">LINK</a></p>
    <p>If you want to get all articles throw API use <a href="/news/api/?type=AAPL">LINK</a></p>
    <hr>

    <h1>Run app steps:</h1>
    <ol>
        <li><b>sudo chmod +x run-app.sh && ./run-app.sh</b> - create containers and run</li>
        <li><b>docker-compose exec rest-srv python3 manage.py createsuperuser --username=user1 --email=user1@example.com</b> - create super user so user can create cronjob in admin panel</li>
        <li><b>docker-compose exec rest-srv celery -A yahoo_scrapper worker --beat --loglevel=info</b> - start celary scheduled jobs</li>

    </ol>
    <hr>

    <h3>Project structure - apps</h3>
    <ul>
        <li><b>yahoo_scrapper</b> --- main app</li>
        <li><b>get_news</b> --- app for scrapping urls and storing articles into database</li>
        <li><b>serve_news</b> --- app for getting articles from database and displaying on /news/ route</li>
    </ul>

    <hr>

    <h3>Developed on Linux Mint</h3>
    <hr>

    <h3>Packages used:</h3>
    <ul>
        <li>pip install redis</li>
        <li>pip install celery</li>
        <li>pip install django-celery-beat (python manage.py migrate django_celery_beat)</li>
        <li>pip install feedparser</li>
        <li>pip install psycopg2</li>
    </ul>

    <h3>Linux Mint installs</h3>
    <ul>
        <li>sudo apt-get install python3-pip python3-dev libpq-dev postgresql postgresql-contrib</li>
        <li>sudo apt-get install python-dev libpq-dev postgresql postgresql-contrib</li>
        <li>sudo apt install redis-server</li>
    </ul>

    <h3>check celer jobs</h3>
    <p>celery -A yahoo_scrapper worker -l info </p>

    <h3>starting scrapper cronjobs</h3>
    <p>celery -A yahoo_scrapper worker --beat --loglevel=info</p>



</body>
</html>